.nav-opt {
    text-decoration: none;
    box-shadow: inset 0 0 0 0 rgb(242, 166, 166);
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.nav-opt:hover {
    box-shadow: inset 150px 0 0 0 rgb(248, 241, 241);
}

.textd {
    text-decoration: none;
    color: black;
}

.maxh {
    max-height: 100px;
}